body{
    background-color: rgb(27, 38, 79);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container{
    background-color: rgba(245, 243, 245,0.5);
    align-content: center;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}

button{
    margin-top: 3px;
    margin-bottom: 2px;
}

